body {
    font-family: sans-serif;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.navbar {
    padding: 0px;
}

#header {
    background-color: #ed6ecb;
}

#navigation {
    background-color: aquamarine;
}

#footer{
    background-color: aliceblue;
}

#title_section {
    display: inline;
}

.content {
    padding-left: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.boards-full {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.board {
    background-color: #fff;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    align-items: center;
}


