body {
    font-family: sans-serif;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.navbar {
    padding: 0px;
}

#header {
    background-color: #ed6ecb;
}

#navigation {
    background-color: aquamarine;
}

#footer{
    background-color: aliceblue;
}

#title_section {
    display: inline;
}

.content {
    padding-left: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.boards-table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.board-group {
    background-color: #fff;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    align-items: center;
}

.board {
    margin-bottom: 5px;
}

.board-description {
    margin: 5px;
    color: #6e6e6e;
    padding-right: 20px;
}

.board-data {
    flex: 1;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 10px;
    text-align: center;
    background-color: lightblue
}

.board-last {
    flex: 2;
    text-align: right;
    padding-left: 20px;
    padding-right: 10px;
}
