{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="CM3070 Final Project">
        <meta name="keywords" content="sweet action theatre, assignment, final, university of london">
        <meta name="author" content="Student ID: 190126690">
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <!-- <link rel="stylesheet" type="text/css" href="../static/css/elearning.css"> -->
    </head>
    <body>