{% extends "forum/base.html" %}

{% load bootstrap4 %}

{% block content %}
<div class="container">
    <br>
    <h2>Sweet Action Forum</h2>
    
    <p>let's go</p>
    <div class="boards-full">


        <div class="board">
            <h3><a href="general.html">General Discussion</a></h3>
        </div>
        <div class="board">
            <h3><a href="brunch.html">Brunch</a></h3>
        </div>
        <div class="board">
            <h3><a href="suggestionbox.html">Suggestion Box</a></h3>
        </div>
        <div class="board">    
            <h3><a href="placeridiculous.html">Place for the Ridiculous</a></h3>
        </div>
 
    </div>
</div>

{% endblock %}