{% extends "forum/base.html" %}

{% load bootstrap4 %}

{% block content %}
<div class="container">
    <br>
    <h2>Sweet Action Forum</h2>
    
    <p>let's go</p>
    <div class="boards-table">


        <div class="board-group">
            <div class="board">
                <h3><a href="{% url 'general' %}">General Discussion</a></h3>
                <p class="board-description">This is the general discussion forum to talk about Sweet Action.</p>
            </div>
            <div class="board-data">
                <p>2101 Posts</p>
                <p>23 Topics</p>
            </div>
            <div class="board-last">
                <p>Last post: Who is Gordon really?</p>
            </div>
        </div>
        <div class="board-group">
            <div class="board">
                <h3><a href="brunch.html">Brunch</a></h3>
                <p class="board-description">Welcome to the Brunch Zone.</p>
            </div>
        </div>
        <div class="board-group">
            <div class="board">
                <h3><a href="suggestionbox.html">Suggestion Box</a></h3>
                <p class="board-description">Have a suggestion?! We want.</p>
            </div>
        </div>
        <div class="board-group">
            <div class="board">    
                <h3><a href="placeridiculous.html">Place for the Ridiculous</a></h3>
                <p class="board-description">Ridddddiiccculu222</p>
            </div>
        </div>
 
    </div>
</div>

{% endblock %}